.home{
    padding-top: 15%;
}

.home-title h1{
    width: fit-content;
    text-align: center;
    font-size: 9rem;
    color: white;
}

.home-title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.home-title img{
    width: 90px;
    animation: updown 2s ease infinite;
}

@keyframes updown {
    0% {
      transform: translateY(-80%);
    }
  
    50% {
      transform: translateY(-50%);
    }
  
    100% {
      transform: translateY(-80%);
    }
  }

/* trending coins */
.popular-coins{
  margin: 2rem 5%;
}

.trending-container{
  display: flex;
  justify-content: space-evenly;
  color: white;
}

.coin{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.coin img{
  width: 90px;
  border-radius: 50%;
}

.coin p{
  margin: 0;
  font-weight: 600;
}

.flex-trending{
  display: flex;
  gap: 1rem;
  margin: 1.5rem 0;
}