html{
  font-family: 'Merriweather', serif;
  font-size: 63%;
}

html, body{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: white;
}

ul{
  list-style: none;
}

h1,h2{
  font-family: 'Space Grotesk', sans-serif;
}

.highlighted{
  background: linear-gradient(25deg,#2600fc,#ff00ea);;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.green-text{
  color: #87f641;
}

.red-text{
  color: #ea1111;
}

.App{
  background: linear-gradient(0deg,#0f051d 30%,#130749 70%);
  padding-bottom: 4rem;
  color: white;
}

/* navbar */
.navbar{
  background-color: transparent;
  position: relative;
  z-index: 999;
  position: fixed;
  width: 100%;
}

.nav-bg{
  background-color: #0f051d;
}

.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin: 1rem 5%;
}

.nav-links{
  display: flex;
  font-size: 2.5rem;
  width: auto;
  gap:5rem;
  font-weight: 600;
}

.nav-links li a:hover{
  transition: all 0.3s ease-in-out;
}


.nav-links li a:hover{
  background: linear-gradient(180deg,#3c629f , #6c635e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-socials{
  display: flex;
  gap: 3rem;
}

.nav-socials img{
  width: 40px;
}

.navbar h3{
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
}